# file: nginx/tasks/main.yml

- include: package.yml
  when: nginx_install_method == "package"
- include: source.yml
  when: nginx_install_method == "source"
- include: ngxplus.yml
  when: nginx_install_method == "plus"
#- include: scripts.yml
- include: configure.yml
- include: default_site.yml
- include: sites.yml
